*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import '~@fortawesome/fontawesome-free/css/all.css';
@import './utilities.scss';
@import "~@fontsource/bad-script/index.css";
@import "~@fontsource/allerta-stencil/index.css";
@import "~@fontsource/bungee-shade/index.css";


