.card{
    height: 400px;
    flex-basis: calc(100% / 4 - 1rem * 3 / 4);
    aspect-ratio: 2/3;
    display: flex;
    margin-top: 20px;
    &:hover{
        .img{
            display: none;
        }
        .description{
            min-height: 400px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            width: 100%;
            background-color: black;
            .voto{
                display: flex;
                align-items: center;
            }
            span{
                font-size: 1.1rem;
                color: white;
                strong{
                    color: red;
                    font-size: 1.7rem;
                }
            }
        }
    }
    .img{
        width: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .description{
        display: none;   
    }
}//regole stile che importo nelle varie card